<!-- Place somewhere in the <body> of your page -->
<div class="row">
	<div class="small-12 columns">
		<div class="flexslider">
  		<ul class="slides">
    		<li>
      		<img src="/assets/slider1.png" />
    		</li>
    		<li>
      		<img src="/assets/slider2.png" />
    		</li>
    		<li>
      		<img src="/assets/slider3.png" />
    		</li>
    		<li>
      		<img src="/assets/slider4.png" />
    		</li>
    		<li>
      		<img src="/assets/slider5.png" />
    		</li>
  		</ul>
		</div>
	</div>
</div>


<div class="row">
	<div class="small-9 columns">
		<div class="row">
			<div class="small-12 columns">
			<!--The navigation goes here-->
			<!--An Off-Canvas navigation-->
			
			<%= render "layouts/offcanvasnavigation" %>
			
			</div>
		</div>
		
		<div class="row">
			<div class="small-11 columns infoslider round">
				<!--The info slider goes here-->
				<%= render "layouts/infoslider"%>
			</div>
		</div>
		
	</div>
			
		
	<div class="small-3 columns">
		<!--The side bar goes here-->
		<%= render "layouts/sidebar" %>
	</div>
</div>
