<div class="row">
	<div class="small-7 columns round">
		
		<%= render "layouts/contactusform" %>

	</div>
	
	
	<div class="small-5 columns round" style="margin-top:20px;">
	
		<%= render "layouts/searchfield" %>
		
		<form>
			<fieldset class="round" style="background-color: #FFFFFF; margin-top: 20px;">
				<legend>Additional contact information</legend>
				<label>+254 020 2345423</label> <br />
				<label>+254 0722-706701</label> <br />
				<label>info@sageotech.com</label> <br /> 
				<label>Twitter: @sageotechnologies</label> <br />
				<label>Facebook: Sageo Technologies</label> <br />
			</fieldset>
		</form>
		
		<%= render "layouts/socialbar"%>
		
	</div>
	
	
</div>
