<!--A slider for additional information goes here-->
			<ul class="example-orbit-content" data-orbit>
  			<li data-orbit-slide="headline-1">
    			<div>
      			<h3 style="text-align:center;">Heading 1</h3>
      			<p>
      				Information and News go here.<br/>
      				Information and News go here.<br/>
      				Information and News go here.
      			</p>
    			</div>
  			</li>
  			<li data-orbit-slide="headline-2">
    			<div>
      			<h3 style="text-align:center;">Heading 2</h3>
      			<p>
      				Information and News go here.<br/>
      				Information and News go here.<br/>
      				Information and News go here.
      			</p>
    			</div>
  			</li>
  			<li data-orbit-slide="headline-3">
    			<div>
      			<h3 style="text-align:center;">Heading 3</h3>
      			<p>
      				Information and News go here.<br/>
      				Information and News go here.<br/>
      				Information and News go here.
      			</p>
    			</div>
  			</li>
			</ul>
