<div class="off-canvas-wrap">
	<div class="inner-wrap">
		<nav class="tab-bar">
			<section class="left-small">
				<a class="left-off-canvas-toggle menu-icon"><span></span></a>
			</section>
			<section class="middle tab-bar-section">
				<h1 class="title">Sageo Technologies</h1>
			</section>
		</nav>

		<!--Off Canvas Menu-->
		<aside class="left-off-canvas-menu">
			<!--Whatever you want goes here-->
			<ul class="off-canvas-list">
				<li><a href="#">Who We Are</a></li>
				<li><a href="#">Partners</a></li>
				<li><a href="#">Services We Offer</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Ongoing Projects</a></li>
				<li><a href="#">Company Fun Outs</a></li>
			</ul>
		</aside>
	
		<!--Main Content Goes Here-->
		<section class="main-section offCanvasContent">
			<%= render "layouts/contentforhomepage"%>
		</section>
	
	
		<!--Close the off-canvas menu-->
		<a class="exit-off-canvas"></a>
	</div>
</div>			
