<!--Search field-->
<%= render "layouts/searchfield" %>


<div class="row">
	<div class="small-12 columns headlinebar round">
		<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      <h4>Heading1</h4>
      <p>Advertisements or info</p>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <h4>Heading2</h4>
      <p>Advertisements or info</p>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <h4>Heading3</h4>
      <p>Advertisements or info</p>
    </div>
  </li>
</ul>
	</div>
	<div class="small-12 columns adbar round">
		<p>Advertisements go here.</p>
		<img src="/assets/ad1.png" />
	</div>
	</div>
	
	<!--The social bar goes here-->
	<%= render "layouts/socialbar"%>
</div>
